pylint==1.8.2
Flask==1.0.2
Flask-Cors==3.0.3
Flask-JWT-Extended==3.7.2
Flask-Migrate==2.1.1
Flask-PyMongo==0.5.1
Flask-MongoEngine==0.9.5
Flask-RESTful==0.3.6
flask-restful-swagger==0.19
Flask-Script==2.0.6
Flask-Cache==0.13.1
boto3==1.9.7
pika==0.11.2
pymongo==3.6.0
eventlet==0.22.1
gunicorn==19.8.1
Pillow==5.2.0
redis==2.10.6
pyDes==2.0.1
pymssql==2.1.4
flask-restplus==0.12.1
PyMySQL==0.9.2
mysql-connector-python==8.0.13
qiniu==7.2.0
requests==2.20.1